<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <style type="text/css">
        div {
            width: 100px;
            height: 100px;
            background-color: red;
        }
    </style>
</head>
<body ng-app="s1" ng-controller="s1">
    <div  ng-controller="s2" ng-click="ck();">
        <input ng-model="ct" type="text"/>
        <div  ng-controller="s3" style="background-color: black; width: 50px; height: 50px;"></div>
    </div>
    <script src="../js/angular-1.2.2/angular.js" type="text/javascript"></script>
    <script type="text/javascript">
        var s1 = angular.module("s1", []);
        s1.controller("s1", function ($scope) {
            $scope.$on("up", function (evt, next, current) {
                alert("up");
            });
        });

        s1.controller("s2", function ($scope) {
            $scope.ct = "1";
            $scope.ck = function () {
                
                if ($scope.ct == "1") $scope.$emit("up", {});
                else $scope.$broadcast('down', {});
                $scope.ct = (($scope.ct - 0) + 1) % 2;
            };
        });

        s1.controller("s3", function ($scope) {
            $scope.$on("down", function (evt, next, current) {
                alert("down");
            });
        });

    </script>
</body>
</html>
