<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>用户注册页面</title>
    <script src="../js/angular-1.2.2/angular.js" type="text/javascript"></script>
    <style type="text/css">
        span[required]:before {
            content:"*";
            color:red;
        }
        tr:first-child {
            text-align:right;
            width:80px;
        }
        input.ng-invalid {
            border: 1px solid red;
        }
        input.ng-valid {
            border: 1px solid green;
        }
    </style>
</head>
<body >
    <form  ng-app="regApp" ng-controller="regController" name="regForm" novalidate ng-submit="signupRegForm()">
        <table>
            <tr><td><span required>注册邮箱</span></td><td><input ng-model="signup.email" name="email" required  type="email"/></td></tr>
            <tr><td><span required>密码</span></td><td><input db-Check="signup.pwd2" ng-model="signup.pwd" name="pwd" ng-minlength="6" ng-maxlength="20" required type="password"/></td></tr>
            <tr><td><span required>确认密码</span></td><td><input db-Check="signup.pwd" ng-model="signup.pwd2"  name="pwd2" ng-minlength="6" ng-maxlength="20" required type="password"/></td></tr>
        </table>
        <div class="error" ng-show="regForm.email.$dirty && regForm.email.$invalid">error</div>
        <button type="submit" >Submit</button>
    </form>
    <script type="text/javascript">
        var regApp = angular.module("regApp", []);
        regApp.controller("regController", function ($scope) {
            $scope.signup = {
                email: "ninao99@163.com",
                pwd:"123456",
                pwd2:"123456"
            }
            $scope.signupRegForm = function () {
                $scope.regForm.submitted = false;
            }
        });
        regApp.directive('dbCheck', [function () {
            return {
                require: 'ngModel',
                link: function (scope, elem, attrs, ctrl) {
                    var firstPassword = '#' + attrs.dbCheck;
                    elem.on('keyup', function () {
                        scope.$apply(function () {
                            var v = elem.val() === $(firstPassword).val();
                            ctrl.$setValidity('dbCheck', v);
                        });
                    });
                }
            }
        }]);
    </script>
</body>
</html>